* {
    margin: 0;
    padding: 0;
    background-color: rgb(69, 69, 69);
    color: #fff
}
  
h1 {
text-align: center;
margin-top: 5%;
}

body {font-family: Arial, Helvetica, sans-serif;}

.create-post-area {
margin-left: 20%;
margin-right: 20%;
margin-top: 2%;
border: 0.75ex dashed hsl(39, 100%, 50%);
padding: 2%;
}

.content-input {
    width: 100%;
    height: 18em;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    resize: none
}

input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

.button {
background-color: hsl(39, 100%, 50%);
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

button:hover {
opacity: 0.8;
}

.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
}

.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
}

img.avatar {
width: 40%;
border-radius: 50%;
}

.container {
padding: 16px;
}

span.psw {
float: right;
padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
    display: block;
    float: none;
}
.cancelbtn {
    width: 100%;
}
}