<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!--If logged in, show "my profile link"-->
    <nav class="nav-bar">
      <div class="forum-logo">
        <h3>CodeIt</h3>
        <form id="myForm" action="/on-select-change", method="POST">
          <select id="subforum" name="subforum" onchange="submitForm()">
            <!--
            <option value="all">All</option>
            <option value="python">Python</option>
            <option value="javascript">JavaScript</option>
            <option value="c++">C++</option>
            <option value="java">Java</option>
            -->
            <option value="all" {% if selected_subforum == 'all' %}selected{% endif %}>All</option>
            <option value="python" {% if selected_subforum == 'python' %}selected{% endif %}>Python</option>
            <option value="javascript" {% if selected_subforum == 'javascript' %}selected{% endif %}>JavaScript</option>
            <option value="c++" {% if selected_subforum == 'c++' %}selected{% endif %}>C++</option>
            <option value="java" {% if selected_subforum == 'java' %}selected{% endif %}>Java</option>
          </select>
        </form>
      </div>
      <div class="search-container">
        <!-- change form action to the actual search feature-->
        <form action="/index">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      {% if session['logged_in'] %}
        <a href="/create-post">Post</a>
      {% endif %}
      {% if not session['logged_in'] %}
        <a href="/login-clicked">Login</a>
        <a href="/register">Register</a>
      {% endif %}
      {% if session['logged_in'] %}
        <a href="/logout">Logout</a>
        <a href="{{url_for('profile', posted_by=session['name'])}}">Profile</a>
      {% endif %}
    </nav>
    <section class="posts-section">
      <ul class="posts-list">
        {% for post in posts %}
          <li class="posts-list-item">
            <strong><a href="{{url_for('post', post_title=post['PostTitle'])}}">{{post["PostTitle"]}}</a> - Posted by: <a href="{{url_for('profile', posted_by=post['PostedBy'])}}">{{post["PostedBy"]}}</a></strong><br>
            <p>{{post["PostContent"]}}</p>
            <div class="vote-container">
              <div class="arrow-container">
                <a class="upvote-arrow" href="{{url_for('upvote_clicked', post_id=post['PostId'])}}"></a>
                <a class="downvote-arrow" href="{{url_for('downvote_clicked', post_id=post['PostId'])}}"></a>
              </div>
              <span class="vote-count">{{ post["Upvotes"] - post["Downvotes"]}}</span>
              <!--{{numberComments}} Comments -->
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>
    <script>
      function submitForm() {
          document.getElementById("myForm").submit();
      }
  </script>
  </body>
</html>
