<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!--If logged in, show "my profile link"-->
    <nav class="nav-bar">
      <div class="forum-logo">
        <h3>CodeIt</h3>
        <select id="subforum" name="subforum">
          <option value="all">All</option>
          <option value="python">Python</option>
          <option value="javascript">JavaScript</option>
          <option value="c++">C++</option>
          <option value="java">Java</option>
        </select>
      </div>
      <div class="search-container">
        <!-- change form action to the actual search feature-->
        <form action="/index">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      {% if session['logged_in'] %}
        <a href="/create-post">Post</a>
      {% endif %}
      {% if not session['logged_in'] %}
        <a href="/login-clicked">Login</a>
        <a href="/register">Register</a>
      {% endif %}
      {% if session['logged_in'] %}
        <a href="/logout">Logout</a>
        <a href="{{url_for('profile', posted_by=session['name'])}}">Profile</a>
      {% endif %}
    </nav>
    <section class="posts-section">
      <ul class="posts-list">
        {% for post in posts %}
          <li class="posts-list-item">
            <strong><a>{{post["PostTitle"]}}</a> - Posted by: <a href="{{url_for('profile', posted_by=post['PostedBy'])}}">{{post["PostedBy"]}}</a></strong><br>
            <p>{{post["PostContent"]}}</p>
            <div class="vote-container">
              <div class="arrow-container">
                <a class="upvote-arrow" href="{{url_for('upvote_clicked', post_id=post['PostId'])}}"></a>
                <a class="downvote-arrow" href="{{url_for('downvote_clicked', post_id=post['PostId'])}}"></a>
              </div>
              <span class="vote-count">{{ post["Upvotes"] - post["Downvotes"]}}</span>
              <!--{{numberComments}} Comments -->
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>
  </body>
</html>
