<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/styles.css" rel="stylesheet" />
</head>
<body>
    <!--If logged in, show "my profile link"-->
    <nav class="nav-bar">
        <div class="forum-logo">
            <h1>WebForumName</h1>
        </div>
            <a>Trending</a>
            <a>Post</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
    </nav>
</body>
</html>