<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="../static/img/favicon-32x32.png"
      rel="shortcut icon"
      type="image/png"
    />
    <title>CodeIt</title>
    <link href="../static/css/login.css" rel="stylesheet">
</head>
<body>

  {% with messages = get_flashed_messages() %} 
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} 
  {% endwith %}

    <h1>CodeIt</h1>
    <div class="login-area">
      <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" /> <br />
        <input type="password" name="password" placeholder="Password" /> <br />
        <input class="button" type="submit" value="Log in" /> <br />
      </form> 
    </div>  
</body>
</html>