<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!--If logged in, show "my profile link"-->
    <nav class="nav-bar">
      <div class="forum-logo">
        <h1>Profile</h1>
      </div>
      {% if session['logged_in'] %}
        <div>Welcome {{name}}</div>
      {% endif %}
      <div class="search-container">
        <!-- change form action to the actual search feature-->
        <form action="/index">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      {% if session['logged_in'] %}
        <a>Post</a>
      {% endif %}
      {% if not session['logged_in'] %}
        <a href="/login-clicked">Login</a>
        <a href="/register">Register</a>
      {% endif %}
      {% if session['logged_in'] %}
        <a href="/index">Home</a>
        <a href="/logout">Logout</a>
      {% endif %}
    </nav>
    <section class="posts-section">
      <ul class="posts-list">
        <b>Posts By You:</b>
        {% for post in posts %}
          <li class="posts-list-item">
            <strong>{{post["PostTitle"]}} - Posted by: {{post["PostedBy"]}}</strong><br>
            <p>{{post["PostContent"]}}</p>
            <div class="vote-container">
              <div class="arrow-container">
                <a class="upvote-arrow" href="{{url_for('upvote_clicked', post_id=post['PostId'])}}"></a>
                <a class="downvote-arrow" href="{{url_for('downvote_clicked', post_id=post['PostId'])}}"></a>
              </div>
              <span class="vote-count">{{ post["Upvotes"] - post["Downvotes"]}}</span>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>
  </body>
</html>
