
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
    {% endblock %}

    {% block content %}

    <!-- maybe add form action for data verification-->
    <form action="{{ url_for('register_submit') }}" method="post">
        <label for="email">Email Address</label>
        <input type="text" name="email" required>
        <label for="username">Username</label>
        <input type="text" name="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <input type="submit" value="Register">
    </form>
    {% endblock %}
</body>
</html>

