<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="../static/img/favicon-32x32.png"
      rel="shortcut icon"
      type="image/png"
    />
    <title>CodeIt</title>
    <link href="../static/css/register.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Sign-Up for CodeIt</h1>
        <form action="{{ url_for('register_submit') }}" method="post">
            <label for="email">Email Address</label>
            <input type="text" name="email" required>
            <label for="username">Username</label>
            <input type="text" name="username" required>
            {% with message = get_flashed_messages() %}
                <div class="flashed-message">{{message[0]}}</div>
            {% endwith %}
            <label for="password">Password</label>
            <input type="password" name="password" required>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>