<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="../static/register.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1>Sign-Up for CodeIt</h1>
    <form action="{{ url_for('register_submit') }}" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="submit" value="Sign Up">
    </form>
</div>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/register.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Sign-Up for CodeIt</h1>
        <form action="{{ url_for('register_submit') }}" method="post">
            <label for="email">Email Address</label>
            <input type="text" name="email" required>
            <label for="username">Username</label>
            <input type="text" name="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" required>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>